extends layout

block content
  h1=title

  h3 Media Progress
  label Movie Progress
  p #{stats.movies_watched} / #{stats.movies_total}
  br
  label Shows Progress
  p #{stats.shows_watched} / #{stats.shows_total}
  br
  label Anime Progress
  p #{stats.anime_completed} / #{stats.anime_total}